#nav {
    display: none;
    background-color: white;
    border-radius: 6px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: block;
    
}

#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    color: black;
}


.menu-letter {
    cursor: pointer;
    color: white;
    padding-right: 10px;
}